<!DOCTYPE html>
<html lang="es">
<head>
  <title>Music-Center [ HOME ]</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="skeleton/css/bootstrap.min.css" >
  <link rel="stylesheet" href="skeleton/css/bootstrap-theme.css" >
  <link rel="stylesheet" href="skeleton/css/bootstrap-theme.min.css" >
  <link rel="stylesheet" href="skeleton/css/scrolling-nav.css" >
  <link rel="stylesheet" href="skeleton/css/font-awesome.min.css" >

  <link rel="stylesheet" href="skeleton/Chart.js/Chart.min.css" >
  <link rel="stylesheet" href="skeleton/Chart.js/Chart.css" >

  <link rel="stylesheet" href="skeleton/css/jquery.dataTables.min.css" >
  <link rel="stylesheet" href="skeleton/css/buttons.dataTables.min.css" >
  <link rel="stylesheet" href="skeleton/css/buttons.bootstrap.min.css" >
  <link rel="stylesheet" href="skeleton/css/jquery.dataTables-1.11.5.min.css" >
  <link rel="stylesheet" href="skeleton/dataTables/fixedColumns.dataTables.min.css" >

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <script src="skeleton/js/jquery-3.4.1.min.js"></script>
  <script src="skeleton/js/jquery-3.5.1.min.js"></script>
  <script src="skeleton/js/bootstrap.min.js"></script>

  <script src="skeleton/js/jquery.dataTables.min.js"></script>
  <script src="skeleton/dataTables/DataTables/js/jquery.dataTables1.min.js"></script>
  <script src="skeleton/dataTables/DataTables/js/dataTables.fixedColumns.min.js"></script>

  <script src="skeleton/js/dataTables.editor.min.js"></script>
  <script src="skeleton/js/dataTables.select.min.js"></script>
  <script src="skeleton/js/dataTables.buttons.min.js"></script>
  <script src="skeleton/dataTables/DataTables/js/buttons.colVis.min.js"></script>

  <script src="skeleton/js/jszip.min.js"></script>
  <script src="skeleton/js/jspdf.umd.min.js"></script>
  <script src="skeleton/js/jspdf.plugin.autotable.min.js"></script>
  <script src="skeleton/js/pdfmake.min.js"></script>
  <script src="skeleton/js/vfs_fonts.js"></script>
  <script src="skeleton/js/buttons.html5.min.js"></script>
  <script src="skeleton/js/buttons.bootstrap.min.js"></script>
  <script src="skeleton/js/buttons.print.min.js"></script>

  <script src="skeleton/Chart.js/Chart.min.js"></script>
  <script src="skeleton/Chart.js/Chart.bundle.min.js"></script>
  <script src="skeleton/Chart.js/Chart.bundle.js"></script>
  <script src="skeleton/Chart.js/Chart.js"></script>

  </head>
<body style="background-image: url('img/background_index.jpg'); min-height: 100vh; background-size: cover;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" id="link-home">
        <button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Music-Center </button></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" id="link-register">
        <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Registrarse </button></a></li>
      <li><a href="#" id="link-password">
        <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Olvidé mi Password </button></a></li>
      <li><a href="#" id="link-login">
        <button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Ingresar </button></a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <div id="views"></div>

</div>

<script src="/js/index.js"></script>


</body>
</html>

