<div class="container">
<div class="jumbotron">
  <div class="alert alert-warning">
  	<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <strong>Cambio de Password!</strong> Por favor ingrese los datos solicitados a continuación para poder blanquear su password.
  </div><hr>
  <form id="form-password" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese su email" name="email">
    </div>
    <div class="form-group">
      <label for="password_1">Password:</label>
      <input type="password" class="form-control" id="password_1" placeholder="Ingrese password" name="password_1">
    </div>
    <div class="form-group">
      <label for="password_2">Repita Password:</label>
      <input type="password" class="form-control" id="password_2" placeholder="Repetir password" name="password_2">
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Actualizar</button>
  </form><hr>
</div>
</div>
