<div class="container">
<div class="jumbotron">
  <div class="alert alert-success">
  	<span class="glyphicon glyphicon-flash" aria-hidden="true"></span> <strong>Registro!</strong> Por favor ingrese los datos solicitados a continuación.
  </div><hr>
  <form id="form-register" method="POST">

    <div class="form-group">
      <label for="name"><span class="label label-default">Nombre y Apellido</span></label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingrese su Nombre y Apellido" name="nombre">
    </div>

    <div class="form-group">
      <label for="email"><span class="label label-default">Email</span></label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese su email" name="email">
    </div>

    <div class="form-group">
      <label for="password_1"><span class="label label-default">Password</span></label>
      <input type="password" class="form-control" id="password_1" placeholder="Ingrese password" name="password_1">
    </div>

    <div class="form-group">
      <label for="password_2"><span class="label label-default">Repita Password</span></label>
      <input type="password" class="form-control" id="password_2" placeholder="Repetir password" name="password_2">
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar</button>
  </form><hr>

  <div id="msg-register"></div>

</div>
</div>
