<div class="container-fluid">
    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-music" aria-hidden="true"></span> <strong>Albums</strong>
            </div>
        </div><hr>
           <button type="button" class="btn btn-success btn-sm" id="add-album-form">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Añadir Album
           </button><hr>


                <table class='display compact' style='width:100%' id='albumsTable'>
                    <thead>
                        <th class='text-nowrap text-center'><span class='label label-default'>Cover</span></th>
                        <th class='text-nowrap text-center'><span class='label label-default'>Año Edición</span></th>
                        <th class='text-nowrap text-center'><span class='label label-default'>Album</span></th>
                        <th class='text-nowrap text-center'><span class='label label-default'>Artista</span></th>
                        <th class='text-nowrap text-center'><span class='label label-default'>Género</span></th>
                        <th class='text-nowrap text-center'><span class='label label-warning'>Acciones</span></th>
                    </thead>

                        <tbody id="albumsTableBody"></tbody>


                    </table>
                    <hr>

                    <div id="alert-info-albums"></div>

    </div>
</div>

<div id="contenedor-modal-maestro-albums"></div>

