<div class="container">
  <div class="jumbotron">

  <div class="panel panel-primary">
  	<div class="panel-heading">
  		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edición de Roles
  	</div>
  </div><hr>

  <form id="roles_edit_form">

    <input type="hidden" id="id" name="id">

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input type="text" class="form-control" id="descripcion" placeholder="Ingrese la descripción para el nuevo rol" name="descripcion">
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Actualizar</button>
  </form><hr>
    <div id="msg-editar-rol"></div>
  </div>
</div>
