
<div class="container-fluid">
    <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <strong>Roles</strong>
            </div>
        </div><hr>
            <button type="button" class="btn btn-success btn-sm" id="add-rol-form">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Añadir Rol</button><hr>


                <table class='display compact' style='width:100%' id='rolesTable'>
                    <thead>
                        <th class='text-nowrap text-center'><span class='label label-default'>Descripción</span></th>
                        <th class='text-nowrap text-center'><span class='label label-warning'>Acciones</span></th>
                    </thead>

                        <tbody id="rolesTableBody"></tbody>


                    </table>
                    <hr>

                    <div id="alert-info-roles"></div>

    </div>
</div>
